:root{
  --bg-color: hsl(250, 100%, 70%);
}
body{
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#c0c0c0, #f0f0f0);
  font-family: Poppins;
  box-sizing: border-box;
}
header{
  background: var(--bg-color);
  display: flex;
  color: #fafafa;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  font-family: Poppins;
}
header h1, header #a{
  margin: 15px;
  transform: translateY(30px)
}
header ul{
  transform: translateX(-150%)
}
header #a{
  color: #fafafa;
  text-decoration: none;
  box-shadow: 5px 5px 10px hsl(250, 100%, 60%),
              -5px -5px 10px hsl(250, 100%, 80%);
  border-radius: 15px;
  padding: 15px;
  height: 25px;
  background: var(--bg-color);
  font-family: Poppins;
  font-size: 0.8em;
  border: none;
  text-align: center;
}
header #a h1{
  transform: translateY(-35px);
  font-weight: 500;
}
header #a:hover{
  box-shadow: 5px 5px 10px hsl(250, 100%, 80%),
              -5px -5px 10px hsl(250, 100%, 60%);
}
header ul li{
  text-align: left;
  font-family: Poppins;
}
#container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  font-family: Poppins;
  margin-left: 20px;
}
#result{
  margin: 10px;
  border: 1px solid black;
  width: 45vw;
  font-size: 1.4em;
  font-family: Poppins;
  overflow: scroll;
}
form{
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: Poppins;
  margin-left: 5px;
}
.text{
  height: 50px;
  border-radius: 15px;
  border: none;
  background: hsl(250, 100%, 90%);
  margin-bottom: 25px;
  font-size: 2em;
  color: black;
  font-family: Poppins;
  padding: 5px
}
.text:hover{
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;
}
.text:hover::placeholder{
  transform: translate(-1px, -1px)
}
.text:focus{
  background: hsl(250, 100%, 85%);
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;

}
.button{
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  font-family: Poppins;
  border-radius: 15px;
  border: 3px solid var(--bg-color);
  background-color: var(--bg-color);
  color: #fafafa;
  box-shadow: 5px 5px 15px hsl(0, 0%, 60%),
              -5px -5px 15px hsl(0, 0%, 100%)
}
.button:hover{
  box-shadow: 5px 5px 15px hsl(0, 0%, 100%),
              -5px -5px 15px hsl(0, 0%, 60%)
}