:root{
  --bg-color: hsl(250, 100%, 70%);
}
body{
  margin: 0;
  overflow: hidden;
  background: #f0f0f0;
  font-family: Poppins;
}
header{
  background: var(--bg-color);
  display: flex;
  color: #fafafa;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  font-family: Poppins;
}
header ul li{
  text-align: left;
  font-family: Poppins;
}
#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  font-family: Poppins;
}
#result{
  margin: 10px;
  border: 1px solid black;
  width: 45vw;
  font-size: 1.4em;
  font-family: Poppins;
}
form{
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: Poppins;

}
.text{
  height: 50px;
  border-radius: 15px;
  border: none;
  background: hsl(250, 100%, 90%);
  margin-bottom: 25px;
  font-size: 2em;
  color: black;
  font-family: Poppins;
}
.text:hover{
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;

}
.text:focus{
  background: hsl(250, 100%, 85%);
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;

}
#button{
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-family: Poppins;
  border-radius: 15px;
  border: none;
  background-color: var(--bg-color);
  color: #fafafa;
}
#button:hover{
  box-shadow: 0 0 20px hsl(250, 100%, 80%);
  font-family: Poppins;
}