:root{
  --bg-color: hsl(250, 100%, 70%);
}
body{
  margin: 0;
  overflow: hidden;
  background: #f0f0f0;
  font-family: Poppins;
  box-sizing: border-box;
}
header{
  background: var(--bg-color);
  display: flex;
  color: #fafafa;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  font-family: Poppins;
}
header h1, header a{
  margin: 15px;
  transform: translateY(30px)
}
header a{
  color: #fafafa;
  text-decoration: none;
  box-shadow: 5px 5px 10px hsl(250, 100%, 60%),
              -5px -5px 10px hsl(250, 100%, 80%);
  border-radius: 15px;
  padding: 5px;
  height: 25px
}
header a:hover{
  box-shadow: 5px 5px 10px hsl(250, 100%, 80%),
              -5px -5px 10px hsl(250, 100%, 60%);
}
header ul li{
  text-align: left;
  font-family: Poppins;
}
#container{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-top: 50px;
  height: 80vh;
  font-family: Poppins;
  margin-left: 20px;
}
#result{
  margin: 10px;
  border: 1px solid black;
  width: 45vw;
  font-size: 1.4em;
  font-family: Poppins;
  overflow: scroll;
}
form{
  display: flex;
  flex-direction: column;
  width: 95%;
  font-family: Poppins;
  margin-left: 5px;
}
.text{
  height: 50px;
  border-radius: 15px;
  border: none;
  background: hsl(250, 100%, 90%);
  margin-bottom: 25px;
  font-size: 2em;
  color: black;
  font-family: Poppins;
}
.text:hover{
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;

}
.text:focus{
  background: hsl(250, 100%, 85%);
  border: 1px solid var(--bg-color);
  margin-bottom: 23px;
  font-family: Poppins;

}
.button{
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-family: Poppins;
  border-radius: 15px;
  border: none;
  background-color: var(--bg-color);
  color: #fafafa;
}
.button:hover{
  box-shadow: 0 0 15px var(--bg-color)
}