:root{
  --bg-color: hsl(250, 100%, 70%);
  --second-color: hsl(204, 80%, 90%);
}
body{
  margin: 0;
  overflow: hidden;
  background: #f0f0f0;
}
header{
  background: var(--bg-color);
  display: flex;
  color: #fafafa;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  font-family: Poppins;
}
header ul li{
  text-align: left;
}
#container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 50px;
}
#data{
  margin: 10px;
  border: 1px solid black;
  width: 45vw;
}
form{
  display: flex;
  flex-direction: column;
  width: 95%;
}
.text{
  height: 50px;
  border-radius: 15px;
  border: none;
  background: hsl(204, 80%, 90%);
  margin-bottom: 25px;
  font-size: 2em;
}
#button{
  height: 50px;
  text-align: center;
  font-size: 2em;
  font-family: Poppins;
  border-radius: 15px;
  border: none;
  background-color: var(--bg-color);
  color: #fafafa;
}
#button:hover{
  box-shadow: 0 0 20px 
}